button {
    border: none;
    padding: 1em;
    border-radius: 0.5em;
    cursor: pointer;
}

input {
    padding: 1em;
    font-size: 1em;
}

.universal__h1 {
    font-family: 'Barlow', sans-serif;
    font-size: 3em;
    font-weight: 500;
}