.dashboard-stats {
    height: 50vh;
    height: 50vh;
    position: relative;
    width: 50vw;
    /* border: 2px solid rgb(131, 216, 131); */
    padding: 2vh;
    /* box-sizing: border-box; */
    margin-bottom: 3vh;
    /* padding-top: 500px; */
    transition: 0.5s;
    margin-left: 250px;
}

.dashboard-stats-header {
    position: relative;
    top: -39px;
    display: flex;
    justify-content: flex-end;
    /* height: 24px; */
    width: 100%;
}

.dashboard-stats-list {
    z-index: 1;
    position: absolute;
    width: 50%;
    text-align: center;

}

.dashboard-stats-list li {
    padding: 10px;
    background: white;
    border: 1px solid gray;
    box-sizing: border-box;
}

.dashboard-stats-list .selected {
    background: lightblue;
}

.dashboard-stats-list li:not(.selected) {
    display: none;
}

.dashboard-stats-list li:hover {
    background: blue;
}

.dashboard-stats-sublist {
    position: absolute;
    right: -103px;
    margin-left: auto;
    top: 55px;
    width: 100px;
}
.dashboard-stats-sublist li:hover {
    background: blue;
}

.dashboard-stats-sublist .selected-sub {
    background: lightblue;
}

.add-vital {
    position: absolute;
    right: -20px;
}
.add-vital-modal {
    height: 100%;
    width: 100%;
    background: gray;
    z-index: 5;
    position: fixed;
    top: 0;
    left: 0;
    opacity: .7;
}
.add-vital-container {
    display: none;
    position: absolute;
    z-index: 10;
    width: 50vw;
    border: 5px solid black;
    margin: 0 auto;
    background: blue;
    padding: 30px;
    box-sizing: border-box;
}

.add-vital-form {
    display: flex;
    flex-direction: column;
    z-index: 20;
    position: relative;
    align-items: center;
}

.add-vital-form input {
    display: block;
}

.add-vital-form label {
    display: block;
    margin-bottom: 20px;
}

.vitals-error-list {
    width: 100%;
    /* border: 5px solid red; */
    box-sizing: border-box;
    text-align: center;
    color: red;
    padding: 10px;
    background: white;
    border: 1px solid gray;
    margin-top: 10px;
}




.recharts-responsive-container{
}

.recharts-wrapper {

}

.recharts-surface {

}