
.splash-container {
  min-height: -webkit-fill-available;
  width: 100%;
  position: relative;
  background-image: url('/images/vitaldb-bg.png');
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.splash {
  position: relative;
  top: 10%;
  height: 700px;
  width: 60%;
  background-color: #f7f7f7;
  color: white;
  /* font: 15px/23px "Helvetica Neue",Helvetica,Arial,sans-serif; */
  font-family: Helvetica, sans-serif;
  border-radius: 8px;
  opacity: 90%;
  filter: drop-shadow(2px 4px 6px black);
}

#title {
  text-align: center;
  font-size: 28px;
  width: 100%;
  /* background-color: rgb(237, 79, 73); */
  background-color: rgb(64, 187, 192);
  border-radius: 8px 8px 0px 0px;
  padding: 5px 0 5px 0;
  /* opacity: 100%; */
  /* color: #e07575; */
}

#heading {
  font-size: 16px;
  color: white;
  background-color: rgb(64, 187, 192);
  border-radius: 4px;
  text-align: center;
  padding: 5px;
  /* color: rgb(237, 79, 73); */
  /* font-weight: bold; */
}

.splash-content {
  position: relative;
  /* top: -20px; */
  color: black;
  height: 100%;
  /* text-align: center; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  /* background-color: rgb(63, 80, 177); */
}





.feature {
  position: relative;
  height: 40%;
  width: 42%;
  /* border: 1px solid black; */
  border-radius: 2px;
  /* text-align: center; */
  box-sizing: border-box;
  padding-top: 21px;
  padding-left: 15px;
}

.feature:first-of-type {
  /* background-color: rgb(93, 79, 189); */
  background-image: url('/images/safe.png');
  /* background-image: image_url('safe.png'); */
  background-size: 142px;
  background-repeat: no-repeat;
  background-position-x: 92px;
  background-position-y: 70px;
  /* background-position-x: 174px;
  background-position-y: 76px; */
}

.vital-list {
  opacity: 85%;
  position: relative;
  /* left: 0px; */
  top: 14px;
  background-color: #e8f0f3;
  border-radius: 8px;
  box-sizing: border-box;
  padding-left: 16px;
  padding-top: 10px;
  padding-bottom: 60px;
}

.vital {
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
}

.vital h3 {
  font-size: 12px;
  /* color: rgb(237, 79, 73); */
}

.vital h4 {
  font-family: Bradley Hand, cursive;
  text-decoration: underline;
  color: #3682a4;
}

#chatbox {
  position: relative;
  left: 46px;
}

#user-icon {
  position: relative;
  left: -133px;
  bottom: -44px;
  height: 112px;
}

#doctor-icon {
  position: relative;
  top: -63px;
  right: -86px;
  height: 175px;
}

#docchat {
  position: relative;
  top: 14px;
  vertical-align: middle;
  left: 10%;
  height: 69%;
}

#chart-icon {
  position: absolute;
  left: 20%;
  top: 55px;
  height: 69%;
}

#med-remind {
  position: absolute;
  left: 19%;
  top: 23%;
  height: 69%;
  width: 80%;
  filter: hue-rotate(684deg);
  /* filter: hue-rotate(381deg); */
}

.NavLink {
  position: relative;
  margin-left: 10px;
  border-radius: 8px;
  background-color: rgb(64, 187, 192);
  color: white;
  text-decoration: none;
  text-align: center;
  margin-bottom: 5px;
  padding: 5px 0 5px 0;
}

.navlinks {
  font-family: Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  border-radius: 2px;
  width: 30%;
  opacity: 90%;
  filter: drop-shadow(2px 4px 6px black);
}

    